{{ partial "header.html" . }}

<main class="content" role="main">

  {{ if and .IsHome .Content }}
  <article class="article">
    <div class="article-content">
      {{ .Content }}
    </div>
  </article>
  {{ else }}
  <div class="archive">
    {{ range (where .Data.Pages "Section" "!=" "").GroupByDate "2006" }}
    {{ range .Pages }}
    <article class="archive-item">
      <span style = "color:#ccc"> {{ .Date.Format "2006/01/02" }}</span> &nbsp; <a href="{{ .RelPermalink }}" class="archive-item-link">{{ .Title }}</a>
      
    </article>
    {{ end }}
    {{ end }}
  </div>
  {{ end }}

</main>

{{ partial "footer.html" . }}
